.header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background-color: #009975;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;

  &__user {
    color: white;
    background-color: #03755b;
    padding: 0.7rem 4rem;
    border-radius: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      line-height: 1.5;
      text-align: center;

      &:first-child {
        font-weight: 700;
      }

      &:last-child {
        font-size: 1.2rem;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    span {
      color: white;
      font-size: 2rem;
    }
    svg {
      height: 6rem;
      width: 6rem;

      &.login__svg {
        .fill0 {
          fill: #009975;
        }
      }
    }
  }

  &__logout {
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
  }
}
